.truckload-section {
  /* background-color: #1b1e26; */
  color: white;
}

.section-title {
  font-weight: bold;
  color: #fa4318;
}

.service-card {
  /* background-color: rgb(186, 186, 186); */
  border: none;
  color: white;
  transition: transform 0.3s ease-in-out;
}

.service-card:hover {
  transform: translateY(-10px);
}

.service-title {
  color: #fa4318;
}

.custom-button {
  background-color: #fa4318;
  border: none;
  color: white;
}

.custom-button:hover {
  background-color: #e13b32;
}
